<div class="container-fluid section">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand col-7 col-md-6 col-lg-4 col-xl-5 col-xxl-6" href="contact_us"><img
                    src="src/assets/cover.jpg" class="logo-img" alt="i-FET"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="true">
                            FACULTY
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">INFORMATION TECHNOLOGY</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">ENGLISH</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">SOFTWARE ENGINEERING</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">COURSES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact_us">CONTACT US</a>
                    </li>
                </ul>
                <button class="btn btn-outline-info login" type="submit">LOG IN</button>
                <button class="btn btn-outline-warning sign-up" type="submit">SIGN UP</button>
            </div>
        </div>
    </nav>
</div>
<div class="main col-8 offset-2">

</div>